/****************************************/
/* HEADER */
/****************************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  height: 96px;
  padding: 0 48px;
}

.logo {
  height: 22px;
}

/****************************************/
/* HERO SECTION */
/****************************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 48px;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 12px 24px;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
  transition: background-color 0.3s;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/****************************************/
/* HERO SECTION */
/****************************************/

.section-hero {
  background-color: #fdf2e9;
  padding: 48px 0 96px 0;
}

.hero {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 96px;
  align-items: center;
}

.hero-description {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  margin-top: 80px;
  align-items: center;
  gap: 16px;
}

.delivered-images {
  display: flex;
}

.delivered-images img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-right: -16px;
  border: 3px solid #fdf2e9;
}

.delivered-images img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 18px;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/****************************************/
/* AS FEATURED IN SECTION */
/****************************************/

.section-featured {
  padding: 48px 0 32px 0;
}

.heading-featured-in {
  font-size: 14px;
  text-transform: uppercase;
  color: #888;
  letter-spacing: 0.75px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 24px;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 32px;
  filter: brightness(0);
  opacity: 50%;
}

/****************************************/
/* HOW IT WORKS SECTION */
/****************************************/

.section-how {
  padding: 96px 0;
}

.step-number {
  font-size: 86px;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 12px;
}

.step-description {
  font-size: 18px;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::after {
  content: "";
  display: block;
  width: 45%;
  /* height: 60%; */

  /* 60% of parent's width */
  padding-bottom: 45%;
  background-color: #fae5d3;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.step-img-box::before {
  content: "";
  display: block;
  width: 60%;
  /* height: 60%; */

  /* 60% of parent's width */
  padding-bottom: 60%;
  background-color: #fdf2e9;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.step-image {
  width: 35%;
}
